# Django
SECRET_KEY=mude-essa-chave-em-producao-use-algo-longo-e-aleatorio
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database PostgreSQL
DB_NAME=agi_emprestimos
DB_USER=postgres
DB_PASSWORD=sua-senha-aqui
DB_HOST=localhost
DB_PORT=5432

# Media
MEDIA_URL=/media/
STATIC_URL=/static/